:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    z-index: 2 !important;
}
.Navbar{
    background-color: #49BBBD !important;
    .login{
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #fff;
            background: rgba(255, 255, 255,0.3) !important;
            transition: all 0.3s ease-in-out;
        }
    }
    .signup{
            background: rgba(255, 255, 255,0.3);
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #000 !important;
                background: #fff !important;
                transition: all 0.3s ease-in-out;
            }
    }
    .offcanvas{
        background-color: #49BBBD !important;
    }
}
.home{
    
    .hero-section{
     
       background-color: #49BBBD !important;
        // background-image: url('../images/header-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom-left-radius: 100px !important;
        border-bottom-right-radius: 100px !important;
        h1{
            font-size: 50px !important;
        }
        .join{
            background: rgba(255, 255, 255,0.3);
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #000 !important;
                background: #fff !important;
                transition: all 0.3s ease-in-out;
            }

        }
        i{
            font-size: 50px !important;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #000 !important;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}